.task
bin
main
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
frontend/.DS_Store
.DS_Store
dev.log
data/
backend-dev.log
files/uploads
videoplayback.mp4
videoplayback.txt
wails
internal/constant/temp.go
.env
.env.testnet
.env.mainnet
